@{
    ViewBag.Title = "Lab 3";
}


<div class="container">
    <h2>Lab 3. Letters Calculation Task</h2>

    <div class="task-description">
        <h3>Task Requirements</h3>
        <p>Алхіміки середньовіччя володіли знаннями про перетворення різних хімічних речовин одна на одну. Це підтверджують і останні дослідження археологів.
           У ході археологічних розкопок було виявлено m глиняних табличок, кожна з яких була покрита незрозумілими на перший погляд символами. У результаті розшифровки з'ясувалося, що кожна з табличок описує одну алхімічну реакцію, яку вміли проводити алхіміки.
           Результатом алхімічної реакції є перетворення однієї речовини на іншу. Задано набір алхімічних реакцій, описаних на знайдених глиняних табличках, вихідна речовина та необхідна речовина. Необхідно з'ясувати: чи можливо перетворити вихідну речовину на необхідну за допомогою цього набору реакцій, а у разі позитивної відповіді на це питання — знайти мінімальну кількість реакцій, необхідну для здійснення такого перетворення.</p>
        <p><strong>Input:</strong> Перший рядок вхідного файлу INPUT.TXT містить ціле число m (0 ≤ m ≤ 1000) – кількість записів у книзі. Кожен із наступних m рядків описує одну алхімічну реакцію і має формат речовина1 -> речовина2, де речовина1 – назва вихідної речовини, речовина2 – назва продукту алхімічної реакції. m+2-ий рядок вхідного файлу містить назву речовини, яка є вихідною, m+3-й – назва речовини, яку потрібно отримати.
                                   У вхідному файлі згадується трохи більше 100 різних речовин. Назва кожної з речовин складається з малих і великих англійських букв і має довжину трохи більше 20 символів. Рядкові та великі літери різняться.</p>
        <p><strong>Output:</strong> У вихідний файл OUTPUT.TXT виведіть мінімальну кількість алхімічних реакцій, які потрібні для отримання потрібної речовини з вихідної, або -1, якщо необхідну речовину неможливо отримати.</p>
    </div>

    <form method="POST">
            <div class="form-group">
                <label for="inputFile">Input File Path (INPUT.TXT):</label>
                <input type="text" class="form-control" id="inputFile" value="InputOutputFiles/Lab3/input.txt" name="inputFile" placeholder="Enter path to INPUT.TXT" required>
            </div>
            <div class="form-group">
                <label for="outputFile">Output File Path (OUTPUT.TXT):</label>
                <input type="text" class="form-control" id="outputFile" value="InputOutputFiles/Lab3/output.txt" name="outputFile" placeholder="Enter path to OUTPUT.TXT" required>
            </div>
            <button type="submit" class="btn btn-primary" value="Execute">Execute</button>
        </form>
</div>