@{
    ViewBag.Title = "Labs";
}

<div class="text-center" style="margin-top:300px;">
    <h1>Lab5. Log In to execute labs 1-3</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <h3 style="color:green;margin-top:50px">Successfully logged in</h3>

        <div class="lab-container" style="margin-top:30px;">
            <div class="lab">
                <span>Lab 1: Task with Numbers</span>
                <a class="btn btn-primary" href="/Labs/Lab1">Go to Lab 1</a>
            </div>
            <div class="lab">
                <span>Lab 2: Task with Letters</span>
                <a class="btn btn-primary" href="/Labs/Lab2">Go to Lab 2</a>
            </div>
            <div class="lab">
                <span>Lab 3: Written Task</span>
                <a class="btn btn-primary" href="/Labs/Lab3">Go to Lab 3</a>
            </div>
        </div>
    }
    else
    {
        <h3 style="color:blue;margin-top:50px">Welcome! Sign in to continue</h3>
    }
</div>

<style>
    .lab-container .lab {
        margin-bottom: 15px;
    }
    .btn-primary {
        margin-left: 10px;
    }
</style>
